<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.uepg.projeto.herdsman" >
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PROFILE" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>

    <application
        android:name=".DAO.HerdsmanFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaAnimaisActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListaFuncionariosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListaCiosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListaEnfermidadesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListaRemediosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CadastroAnimalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CadastroFuncionarioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaAnimalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CadastroEnfermidadeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CadastroRemedioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListaPartosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CadastroPartoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".NotificarCioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".NotificarOutroActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".NotificarSinistroActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaFuncionarioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaAnimalInseminacoesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaAnimalRemediosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaAnimalCadastroAnimalRemedio"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TelaAnimalSinistrosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name=".SMSReciever.SMSReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>