<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.uepg.projeto.herdsman" >
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PROFILE" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>

    <application
        android:name=".dao.HerdsmanFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cow_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".drawer.ListaAnimaisActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.ListaFuncionariosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.ListaCiosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.ListaEnfermidadesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.ListaRemediosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cadastros.CadastroAnimalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cadastros.CadastroFuncionarioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.TelaAnimalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cadastros.CadastroEnfermidadeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cadastros.CadastroRemedioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.ListaPartosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cadastros.CadastroPartoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.notificacao.NotificarCioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.notificacao.NotificarOutroActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.notificacao.NotificarAnimalEnfermidadeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.funcionario.TelaFuncionarioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.TelaAnimalInseminacoesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.TelaAnimalRemediosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.TelaAnimalCadastroAnimalRemedio"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.animal.TelaAnimalSinistrosActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".drawer.funcionario.TelaFuncionarioNotificacoesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".helper.HelperTelaAnimal" />
        <activity android:name=".helper.HelperTelaAnimalInseminacoes" />
        <activity android:name=".helper.HelperTelaAnimalPartos" />
        <activity android:name=".helper.HelperTelaCadastroAnimal" />
        <activity android:name=".helper.HelperTelaAnimalRemedios" />
        <activity android:name=".helper.HelperTelaCadastroEnfermidade" />
        <activity android:name=".helper.HelperTelaCadastroFuncionario" />
        <activity android:name=".helper.HelperTelaCadastroParto" />
        <activity android:name=".helper.HelperTelaCadastroRemedio" />
        <activity android:name=".helper.HelperTelaCadastroRemedioAnimal" />
        <activity android:name=".helper.HelperTelaFuncionario" />
        <activity android:name=".helper.HelperTelaListaAnimais" />
        <activity android:name=".helper.HelperTelaListaEnfermidades" />
        <activity android:name=".helper.HelperTelaListaFuncionarios" />
        <activity android:name=".helper.HelperTelaListaRemedios" />
        <activity android:name=".helper.HelperTelaNotificaCio" />
        <activity android:name=".helper.HelperTelaNotificaEnfermidade" />
        <activity android:name=".helper.HelperTelaNotificaOutro" />
        <activity android:name=".helper.HelperTelaPrincipal" />

        <receiver
            android:name=".utils.SMSReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>